@model BazarCloth.Web.Models.ViewModels.CheckOutViewModel

@{
    decimal total = 0;
}

@if (Model != null)
{
    if (Model.carProductList != null && Model.carProductList.Count > 0)
    {
        int i = 1;
        <section class="flat-row flat-iconbox">
            <div class="container">

                <div class="row">
                    <div class="col-md-4 order-md-2 mb-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Your cart</span>
                            <span class="badge badge-secondary badge-pill">3</span>
                        </h4>
                        <ul class="list-group mb-3">
                            @foreach (var item in Model.carProductList)
                            {
                                var ProductQuantity = Model.CarProductIDs.Where(x => x == item.Id).Count();

                                //total = total + (item.Price * ProductQuantity);  This line is also use to calculate the Total

                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h6 class="my-0">@i- @item.Name <i style="float:right">Qty=> @ProductQuantity</i> </h6>
                                        <small class="text-muted">@(item.Description.Length > 15 ? item.Description.Substring(1, 12) : item.Description)</small>
                                    </div>
                                    <span class="text-muted">$ @item.Price (@ProductQuantity)= @(item.Price * ProductQuantity)</span>
                                </li>
                                i++;
                            }
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Total (USD)</span>
                                <strong>$ @Model.carProductList.Sum(x => x.Price * Model.CarProductIDs.Where(c => c == x.Id).Count());</strong>
                            </li>
                        </ul>

                        <form class="card p-2">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Promo code">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-secondary">Redeem</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8 order-md-1">
                        <h4 class="mb-3">Billing address</h4>
                        <form class="needs-validation" novalidate="">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="firstName">First name</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="" value="@Model.Users.UserName" disabled>

                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="lastName">Emmai</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="" value="@Model.Users.Email" disabled>

                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email"><span class="text-muted">Address</span></label>
                                @Html.TextBoxFor(c => c.Users.Address, "", new { @class = "form-control" })

                            </div>

                            <hr class="mb-4">
                            <button id="placeOrderBtn" class="btn btn-primary btn-lg btn-block placeOrderBtn" type="submit">Continue to checkout</button> 
                            @*ye btn hai*@
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <script type="text/javascript">

    $(".placeOrderBtn").click(function () {
        alert("Clicked");
                   $.ajax({
                       url: '/Shop/PlaceOrder',
                       method:"GET", 
                       data: {
                           ProductsID:'@string.Join("-",Model.CarProductIDs)'
                       }
                   }).done(function (result) {
                       console.log(result)
                       if (result.Success === true) {
                         

                           var emptyCookie = $.cookie('CartProduct', '', { path: '/' }); // ye bs 
                           window.location.href = '/Home/Index';

                           if (emptyCookie === '' || emptyCookie === undefined || emptyCookie === null) {

                               UpdateCartProduct();// ye kia hay ? ye cookie ka coutn krta hai . jo 1 2 3 show hota ye krta hai .
                               // code kahan hay is ka ?

                               window.location.href = '/Home/Index';
                           swal("Done", "Order Process Successfuly", "success").then((value => {

                           
                           }));
                           }

                       } else {
                           swal("Failed", "Unable to place order.", "warning");
                       }
                   }).fail(function (XMLHttpRequest,testStatus,errorThrown) {

                       alert(fali);
                   });

               });
        </script>

    }
    else
    {
        <div>No Product in the Cart..</div>
    }
}




@*@if (Model != null)
    {
        if (Model.carProductList != null && Model.carProductList.Count > 0)
        {
            <div>
                @foreach (var item in Model.carProductList)
                {
                    var ProductQuantity = Model.CarProductIDs.Where(x => x == item.Id).Count();

                    //total = total + (item.Price * ProductQuantity);  This line is also use to calculate the Total
                    <div>
                        Name - @item.Name Price - @item.Price Quantity - @ProductQuantity Total Price - @(ProductQuantity * item.Price)
                    </div>
                }
            </div>
            <div>

            </div>



        }
        else
        {
            <div>No Product in the Cart..</div>
        }
    }*@